html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%; /* 100% height of html element which is also set to 100% */
	margin: auto;
	display: flex;
	flex-direction: column;
}
a {
	text-decoration: none;
}
.top {
	padding-top: 100px;
}
.down {
	margin-bottom: 12px;
}
.cols {
	color: black;
}
footer {
    padding: 10px 0;   
    background-color: #101010;
    color: white;
    bottom: 0; 
    width: 100%;
    margin-top: auto;
}
footer a {
	color: white;
}
.signupimg {
	height: 480px;
}